@use "sass:list";
@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/animations";
@use "../utilities/functions";

$plus-symbol-size: functions.size(4em);

@mixin plus-symbol($color: variables.$grey-lighter, $text-color: variables.$grey-dark) {
    &::after {
        content: "\f104";
        font-family: flexi-ui;
        display: inline-block;
        width: $plus-symbol-size;
        height: $plus-symbol-size;
        border-radius: $plus-symbol-size;
        font-size: functions.size(2em);
        text-align: center;
        line-height: $plus-symbol-size;
        background-color: $color;
        color: $text-color;
    }
}

.plus-symbol {
    @include plus-symbol();

    display: inline-block;

    @each $name, $pair in variables.$colors {
        $color: list.nth($pair, 1);
        $color-invert: list.nth($pair, 2);

        &.is-#{$name} {
            @include plus-symbol($color, $color-invert);
        }
    }
}
