@charset "utf-8";

@import url('../node_modules/codemirror/lib/codemirror.css');
@import "../design-system-framework/src/utilities/all";
@import "structure/get-started.scss";

.main-content,
body > footer,
body > header {
    max-width: none !important;
}

body > header {
    position: sticky;
    top: 0;

    &:not(.box-header) {
        z-index: 1001;
    }
}

.doc-hero-hp {
    height: calc(100vh - 124px);
}

@keyframes dontBeShy {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes beMyGuest {
    0% { opacity: 0; margin-bottom: 0; }
    75% { margin-bottom: 0; }
    100% { opacity: 1; margin-bottom: inherit !important; }
}

.doc-animation-first,
.doc-animation-second,
.doc-animation-third {
    opacity: 0;
}

.doc-animation-first {
    animation: 1500ms dontBeShy ease-in-out 250ms forwards;
}

.doc-animation-second {
    margin-bottom: 0;
    animation: 1500ms beMyGuest ease-in-out 250ms forwards;
}

.doc-animation-third {
    animation: 1500ms dontBeShy ease-in-out 1500ms forwards;
}

.menu-list {
    &.aside-menu-list {
        a {
            justify-content: space-between;
            align-items: center;
            padding-top: 0;

            small {
                font-size: 1rem;
            }
        }
    }
}

.navbar {
    .navbar-dropdown {
        .columns {
            width: 100%;
        }
    }
}

article.component-snippet {
    &:not(:last-child) {
        margin-bottom: 3em;
    }
}

.snippets {

    &.snippet-deprecated {
        .line {
            text-decoration: line-through;
        }
    }

    .container {
        width: auto;
    }

    > .box {
        padding: 0;

        > .box-content {
            margin: 0;
            border-radius: 0;
        }
    }

    /* custom rules needed for absolute-positionned elements */
    .sandbox-context {
        .box-content:first-child {
            position: relative;

            .is-product-tour-specific & {
                height: 250px;

                .code-preview {
                    position: relative;
                    left: calc(50% - 17.5rem);
                }
            }

            + .box-content {
                margin-top: size(2rem);
            }
        }
    }
}

.code-preview {
    + .responsive-container {
        display: none;
        width: 100%;

        .size-container {
            opacity: 0.5;
            text-align: right;
        }

        .iframe-container {
            background: $white;
            border: 3px solid $grey-border-dark;
            height: 48rem;
            margin: auto;
            overflow: scroll;
            padding: 0.5rem;
            resize: both;
            width: 64rem;
        }

        iframe {
            height: 100%;
            width: 100%;
        }
    }
}

.static-icon-snippet {
    cursor: pointer;
}

.CodeMirror {
    height: auto;
    background-color: transparent;
    font-size: 14px;

    .is-product-tour-specific & {
        padding-top: 100px;
    }
}

.tabs.summary {
    position: sticky;
    top: 123px;
    z-index: 1000;
    margin-bottom: 0;
    background-color: $grey-light;
}

.container[id] > .title::before {
  display: block;
  content: '';
  margin-top: -200px;
  height: 200px;
  visibility: hidden;
  pointer-events: none;
}

#ui-icons,
#all-icons {
    .box-footer {
        font-size: 1.3rem;
    }
}
