@charset "utf-8";

/**
@deprecated: Use flexiness-ds-namespaced instead
 */
.is-flexiness-navigation,
.is-flexiness-navigation * {
    box-sizing: border-box;
    font-family: "Bouygues Read";
}

//$font-ratio: 10/16 !default;
$font-convert-to-px: true !default;

@import "utilities/functions";
@import "utilities/initial-variables";
@import "utilities/derived-variables";
@import "utilities/mixins";
@import "utilities/controls";
@import "~bulma/sass/base/minireset";
@import "base/generic";
@import "base/fonts";
@import "grid/columns";
@import "grid/rows";
@import "layout/main";
@import "layout/section";
@import "elements/box";
@import "elements/form";
@import "elements/paragraph";
@import "elements/title";

/**
 These elements are required for standalone headers and footers
 */
@import "components/navbar";
@import "components/footer";
@import "elements/button";
@import "base/helpers";
@import "webfonts/all";
@import "webfonts/ui";
@import "elements/icon";
